<h1>会社概要</h1>

<table class="table table-bordered">
  <tr>
    <td class="bg-light">会社名</td>
    <td><p>株式会社　車屋よろず</p></td>
  </tr>

  <tr>
    <td class="bg-light">代表取締役</td>
    <td><p>奥田　香澄</p></td>
  </tr>

  <tr>
    <td class="bg-light">設立年月日</td>
    <td><p>2023年9月27日</p></td>
  </tr>

  <tr>
    <td class="bg-light">資本金</td>
    <td><p>1,000万円</p></td>
  </tr>

  <tr>
    <td class="bg-light">事業内容</td>
    <td><p>中古車の整備および販売</p></td>
  </tr>

  <tr>
    <td class="bg-light">所在地</td>
    <td><p>〒800-1123 福岡県若松市1-2-3</p></td>
  </tr>

  <tr>
    <td class="bg-light">お問い合わせ</td>
    <td><p>電話番号：09-010-6600</br>
            メールアドレス：yorozu@car.com</p>
    </td>
  </tr>
</table>

<h3>あなたにぴったりな</br>
    愛車に出会えますように</h3>