@use '~bootstrap/scss/bootstrap';

// ヘッダー
header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 15px 0px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.welcome {
  position: relative;
  top: 30px;
  left: -500px;
}

.menu {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 10px 20px;
}

li {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 20px;
}

// 顧客ログイン画面
.login{
  text-align: center;
}

.login_text{
  margin: 0 0 0 550px;
}

// 顧客新規登録画面
.registration{
  margin: 0 0 0 350px;
}

// 顧客トップページ
.top_image {
  margin: 0 0 0 400px;
  position: relative;
}

.top_title {
  font-size: 100px;
}

.top_text {
  position: absolute;
  top: 30%;
  left: 45%;
  color: #FF69B4;
}

.new_products_text {
  margin: 0 0 0 400px;
}

.top_link {
  margin-right: 0;
  margin-left: auto;
  width: 30%;
  display: block;
}

// 会社概要画面
.company_title {
  margin: 0 0 0 300px;
}

.company_text {
  margin: 0 0 0 600px;
}

// 顧客退会画面
.unsubscribe {
  text-align: center;
  margin: 0 0 600px 0;
}

// 顧客商品一覧画面
.item_index_title {
  margin: 0 0 0 100px;
}

.item_index {
  text-align: center;
  margin: 0 0 0 250px;
}

.pagination {
  justify-content: center;
}

// 顧客商品詳細
.item_show_img {
  text-align: center;
  margin: 150px 0 300px -100px;
}

.item_show {
  margin: 50px 0 50px 0;
}

// 顧客カート内
.destroy_all_btn {
  margin: 0 0 0 250px;
}

.continue_shopping_btn {
  margin: 50px 0 0 0;
}

.cart_total {
  margin: 50px 0 0 250px;
}

.information_btn {
  margin: 0 0 0 450px;
}

.complete {
  margin: 50% 50%;
}

// 顧客注文情報入力
.order_new_title {
  margin: 0 0 0 150px;
}

.payment {
  margin: 0 0 0 100px;
}

.addressee {
  margin: 0 0 0 100px;
}

.confirmation_btn {
  text-align: center;
  margin: 0 0 50px 0;
}

// 顧客注文情報確認
.order_confirmation_title {
  margin: 0 0 0 150px;
}

.payment_title {
  margin: 0 0 0 300px;
  float: left;
}

.addressee_title {
  clear: left;
  margin: 0 0 0 300px;
  float: left;
}

.order_confirmed_btn {
   margin: 0 0 0 700px;
}

// 顧客注文完了
.complete {
   margin: 300px 300px 300px 600px;
}

// 顧客注文履歴一覧
.order_history_list_title {
   margin: 0 0 0 80px;
}

.order_history_list {
   margin: 30px 0 0 400px;
}